<div class="toast-container">
    @for (toast of toastService.toastsList(); track toast.id) {
    <div class="toast-item-wrapper" (mouseenter)="toastService.pauseToast(toast.id)"
        (mouseleave)="toastService.resumeToast(toast.id)" @toastAnimation>
        <div class="toast-item" [class]="toast.type">
            <div class="toast-icon-container">
                <div class="toast-icon">
                    @if (toast.type === 'success') {
                    <i class="bi bi-check2-circle"></i>
                    } @else if (toast.type === 'error') {
                    <i class="bi bi-exclamation-circle"></i>
                    } @else {
                    <i class="bi bi-info-circle"></i>
                    }
                </div>
            </div>

            <div class="toast-content">
                {{ toast.message }}
            </div>

            <button class="toast-close" (click)="toastService.remove(toast.id)">
                <i class="bi bi-x"></i>
            </button>

            <!-- Progress Bar -->
            <div class="toast-progress-container">
                <div class="toast-progress-bar" [style.animation-duration.ms]="toast.duration"
                    [class.paused]="toast.paused"></div>
            </div>
        </div>
    </div>
    }
</div>